@media only screen and (max-width: 768px) {
    
    .mobile .social-card.col2 {
        width: 100%!important;
    }
    .mobile .confirm-email-message{
        width:100%;
    }
    .mobile .social-card{
        border-radius: 0;
    }
    .mobile .mobile-footer{
        display: none;
        position: fixed;
        bottom: 0;
        width:100%;
        background:#323237;
        text-align: center;
        z-index:9999;
    }
    .mobile .homepage-newsfeed{
        margin-top:60px;
    }
    .mobile .mobile-footer > span{
        padding:15px 28px;
        color:#fff;
        display: inline-block;
        position: relative;
    }
    .mobile .mobile-footer span .fa-bell-o{
        font-size: 18px;
        margin-top: -6px;
        display: inline-block;
        vertical-align: 3px;
    }
    .mobile .social-card.share .card-header.card-title-action .user-pic{
        margin-right: 25px;
    }
    .mobile .mobile{
        display: block!important;
    }
    .mobile .desktop{
        display:none!important;
    }
    .mobile .dektop-inline{
        display: none !important;
    }
    .mobile .social-card.share .card-footer{
        border:none;
    }
    .mobile .social-card.share .card-footer > div > div{
        width:50%;
    }
    .mobile .post-youtube-container .youtube-video iframe{
        width:100%;
        height:auto;
    }
    .mobile .mobile-post-footer{
        text-align:center;
        border-top: 1px solid #e6e6e6;
    }
    .mobile .mobile-post-footer > div{
        display:inline-block;
        padding:10px 40px;
    }
    .mobile .card.social-card .article-post .article-head{
        width:100%;
        float:none;
    }
    .mobile .card.social-card .article-post .article-category{
        width:100%;
        float:none;
        text-align:left;
    }
    .mobile .public_view_container{
        width:100%;
    }
    .mobile .public_view_container .inspection-details .insp-tab li{
        width:100px;
    }
    .mobile .mobile_view{
        display: block;
    }
    .mobile .mobile_view_inline{
        display: inline-block;
    }
    .mobile .desktop_view{
        display: none;
    }
    .mobile .public_view_container .inspection-summary .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .mobile .public_view_container .inspection-summary .col-md-4 > div{
        width:100%;
        padding: 10px 0;
    }
    .mobile .public_view_container .tab3data .col-md-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .mobile .public_view_container header .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .mobile .public_view_container .tab3data  .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .mobile .image-pubic-preview img{
        max-width: 95%;
        max-height:95%;
    }
    .mobile .public_view_container .mobilerow{
        margin-left: -53px;
        margin-right: -53px;
        height: 250px;
        overflow: hidden;
    }
    .mobile .public_view_container header button {
        background: #a3a3a3;
        border: none;
        color: #fff;
        cursor: pointer;
        border-radius: 50%;
        padding: 10px;
        width: 40px;
        height: 40px;
        vertical-align: top;
        font-size: 20px;
    }
    .datepicker-dropdown{
        width:100%;
        height: 100%;
        background:rgba(0,0,0,0.5)!important;
        z-index: 9999!important;
        left: 0!important;
        top:0!important;
    }
    .datepicker-dropdown .table-condensed{
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        background: #fff;
        width: 90%;
        height: 50%;
        font-size: 17px;
    }
    .datepicker-dropdown .table-condensed .datepicker-switch{
        font-size: 25px;
    }
    
}
body.mobile {
    background: #EAEBEF !important;
}
@media only screen and (max-width: 990px) {
    body.mobile #report-post{
        width:100%!important;
        height:100%!important;
    }
    #report-post.viewTask .st-btn, .delete_task{
        top:-10px;
    }
    #report-post.viewTask .fa-close{
        top: 15px;
        right: auto;
        left: 20px;
        z-index: 99;
        color: black;
    }
    #report-post.viewTask .fa-close:before{
        content:"\f060";
    }
    #report-post.viewTask .task_name{
        width: 100%;
    }
    .taskcommonform{
        margin-top:20px;
    }
    .mobile header .mobile_view i{
        font-size: 20px;
    }
    body.sidebar-open .page-container {
        -webkit-transform: translate3d(80px, 0, 0)!important;
        transform: translate3d(80px, 0, 0)!important;
        -ms-transform: translate80px, 0)!important;
    }
    .page-sidebar{
        width:80px!important;/*
        display: block!important;
        z-index: 999;*/
    }
    body.mobile .dashboard-data{
        width: 100%;
        margin: 30px 0;
    }
    body .page-sidebar .sidebar-menu .menu-items > li > a{
        font-size: 10px;
        font-weight: 700;
    }
    .table-responsive {
        overflow: auto!important;
    }
    .login-wrapper .bg-pic > img{
        height: auto!important;
    }

    /*.inspection-tabs span{
        padding: 3px 10px!important;
    }*/
}