<div class="content_wrapper clearfix">
	<div class="sections_group">
		<div class="entry-content">
			<div class="section mcb-section">
				<div class="section_wrapper mcb-section-inner">
					<div class="wrap mcb-wrap one valign-top clearfix">
						<div class="mcb-wrap-inner">
							<div class="column mcb-column one column_column column-margin-0px">
								<div class="column_attr clearfix">
									<h2><span class=themecolor>S</span>ign <span class=themecolor>U</span>p</h2>
								</div>
							</div>
						</div>
					</div>
<div class="section mcb-section" style="padding-top:60px; padding-bottom:20px;">
	<div class="section_wrapper mcb-section-inner">
		<div class="wrap mcb-wrap one valign-top clearfix">
			<div class="mcb-wrap-inner">
<div class="column one column_column">
	<div class="column_attr">
		<div class="alert alert_info">
			<div class="alert_icon"><i class="icon-help"></i></div>
			<div class="alert_wrapper">
				<i class="icon-check"></i> <strong>Please do not use yahoo.com or ukr.net</strong>. Our messages are not being delivered to yahoo.com/ukr.net mail services!<br>
				<i class="icon-check"></i> Please pay attention that multiple accounts are forbidden. If you need to close your old account and open a new one - please <a href="index15a0.html?a=support" target="_blank">contact us</a>.<br>
				<i class="icon-check"></i> Please use different passwords for websites. Use strong password to reduce the risk of unauthorized access to your account.<br>
				<i class="icon-check"></i> If you experience troubles during registration process please try to change your browser or turn off the google translate if you use it.<br>
				<i class="icon-check"></i> If you use bitcoin - We recommend you to use <a href="https://electrum.org/" target="_blank">Electrum</a> or <a href="https://bitcoin.org/" target="_blank">Bitcoin Core</a> as your main bitcoin wallet.</div><a href="#" class="close"><i class="icon-cancel"></i></a>
		</div>
	</div>
</div>					
				<form novalidate="" ng-class="{saveClicked: pageInfo.saveClicked}" method=post name="regform"><input type="hidden" name="form_id" value="15750434352240"><input type="hidden" name="form_token" value="42fd7f219ef7e14833f9429c46301f17">
				<input type=hidden name=a value="signup">
				<input type=hidden name=action value="signup">
				<div class="column one-third clearfix">
					<h4 class=themecolor>Account information</h4>
					<div class="column one" style="margin-top:0px;margin-bottom:0px"><h5 style="display: inline;padding:0px">Full Name <span style="color:red">*</span></h5><input required ng-model="register.name" type=text name=fullname value='' size=30></div>
					<div class="column one" style="margin-bottom:0px"><h5 style="display: inline;padding:0px">Username <span style="color:red">*</span></h5><input required ng-model="register.username" type=text name=username value='' size=30></div>
					<div class="column one" style="margin-bottom:0px"><h5 style="display: inline;padding:0px">Email <span style="color:red">*</span></h5><input required ng-model="register.email" type=text name=email value='' size=30></div>
					<div class="column one" style="margin-bottom:0px"><h5 style="display: inline;padding:0px">Retype Email <span style="color:red">*</span></h5><input required ng-model="register.confirm_email" type=text name=email1 value='' size=30></div>
				</div>			
				<div class="column one-third clearfix">
					<h4 class=themecolor>Security information</h4>
					<div class="column one" style="margin-bottom:0px"><h5 style="display: inline;padding:0px">Password <span style="color:red">*</span></h5><input required ng-model="register.password" type=password name=password value='' size=30></div>
					<div class="column one" style="margin-bottom:0px"><h5 style="display: inline;padding:0px">Retype Password <span style="color:red">*</span></h5><input required ng-model="register.confirm_password" type=password name=password2 value='' size=30></div>

					<div class="column one" style="margin-top:0px;margin-bottom:0px"><h5 style="display: inline;padding:0px">Secret question <span style="color:red">*</span></h5><input required ng-model="register.secret_question" type=text name=sq value='' size=30></div>
					<div class="column one" style="margin-top:0px;margin-bottom:0px"><h5 style="display: inline;padding:0px">Secret answer <span style="color:red">*</span></h5><input required ng-model="register.secret_answer" type=text name=sa value='' size=30></div>
				</div>
				<div class="column one-third clearfix">
					<h4 class=themecolor>Payment information</h4>
										<div class="column one" style="margin-top:0px;margin-bottom:0px"><h5 style="display: inline;padding:0px">PerfectMoney account</h5><input type=text size=30 name=pay_account1 value=""  ng-model="register.perfect_money" ng-pattern="^U\d{5,}$" data-validate-notice="UXXXXXXX" placeholder="U12345678"></div>
										<div class="column one" style="margin-top:0px;margin-bottom:0px"><h5 style="display: inline;padding:0px">Payeer account</h5><input type=text size=30 name=pay_account2 value=""  ng-model="register.payeer_account" ng-pattern="^P\d{5,}$" data-validate-notice="PXXXXXXX" placeholder="P12345678"></div>
										<div class="column one" style="margin-top:0px;margin-bottom:0px"><h5 style="display: inline;padding:0px">Bitcoin address</h5><input type=text size=30 name=pay_account3  ng-model="register.bitcoin" ng-pattern="^[13][a-km-zA-HJ-NP-Z1-9]{25,34}$" data-validate-notice="Bitcoin Address" placeholder="1YourBitcoinAddressmwGAiHnxQWP8J2"></div>
										<div class="column one" style="margin-top:0px;margin-bottom:0px"><h5 style="display: inline;padding:0px">Litecoin address</h5><input type=text size=30 name=pay_account4 value=""  ng-model="register.litecoin" ng-pattern="^[LM3][a-km-zA-HJ-NP-Z1-9]{25,34}$" data-validate-notice="Litecoin Address" placeholder="LYourLitecoinsAddresstwHAionxQTL2"></div>
										<div class="column one" style="margin-top:0px;margin-bottom:0px"><h5 style="display: inline;padding:0px">Ethereum address</h5><input type=text size=30 name=pay_account5 value=""  ng-model="register.ethereum" ng-pattern="^(0x)?[0-9a-fA-F]{40}$" data-validate-notice="Ethereum Address" placeholder="0x6c78b0ac68bf953c7fdbec0fd65bd5df933r8473"></div>
										<div class="column one" style="margin-top:0px;margin-bottom:0px"><h5 style="display: inline;padding:0px">Bitcoin Cash address</h5><input type=text size=30 name=pay_account6 value=""  ng-model="register.bitcoin_cash" ng-pattern="^[\w\d]{25,43}$" data-validate-notice="Bitcoin Cash Address" placeholder="qqsAr4Ui98fsTmUkJv7HMQkJpU8ZKGzgAB"></div>
										<div class="column one" style="margin-top:0px;margin-bottom:0px"><h5 style="display: inline;padding:0px">Dash address</h5><input type=text size=30 name=pay_account7 value=""  ng-model="register.dash" ng-pattern="^X[0-9a-zA-Z]{33}$" data-validate-notice="Dash Address" placeholder="XpU2LbWJfuzNN7JLtJ1D5qQRS9ReQLnReX"></div>
									</div>
				<div class="column one clearfix">
					<h5><span style="color:red">*</span> - required fields</h5>
					<input type=checkbox name=agree value=1  > I agree with <a href="indexa972.html?a=rules">Terms and conditions</a>
				</div>
				<div class="column one" style="margin-top:0px;margin-bottom:0px"><img src="indexeab1.html?a=show_validation_image&amp;PHPSESSID=unra33fnmakh57lsl7d809n3g2&amp;rand=2102084132"> <input type=text name=validation_number class=inpts size=15></div>
				<div class="column one" style="margin-top:0px;margin-bottom:0px"><input ng-click="pageInfo.saveClicked=true;doRegister();" type="submit" value="Register" class="button button_right button_size_1 button_js" style="background-color:#53a5f8 !important; color:#fff"></div>
</form>
			</div>
		</div>
	</div>
</div>
<!-- header div !-->
		</div>
	</div>
</div>
<!-- end header div !-->
                          