<div class="content_wrapper clearfix">
	<div class="sections_group">
		<div class="entry-content">
			<div class="section mcb-section">
				<div class="section_wrapper mcb-section-inner">
					<div class="wrap mcb-wrap three-fourth valign-top clearfix">
						<div class="mcb-wrap-inner">
							<div class="column mcb-column one column_column column-margin-0px">
								<div class="column_attr clearfix">
									<h2><span class=themecolor>A</span>sk for <span class=themecolor>W</span>ithdrawal</h2>
								</div>

		

<form method=post name=withdrawform ng-class="{saveClicked: pageInfo.saveClicked}">
	<input type="hidden" name="form_id" value="15754511473376"><input type="hidden" name="form_token" value="090d4f5cceaeb1e8d3c5b926dbb3b28c">
	<input type=hidden name=a value=withdraw>
	<input type=hidden name=action value=preview>
	<input type=hidden name=say value="">



	<h5 style="padding-top:20px">Account Balance: <span class=themecolor>${{pageInfo.data.balance}}</span></h5>
	<h5>Pending Withdrawals: <span class=themecolor>${{pageInfo.data.pending_withdraw ? pageInfo.data.pending_withdraw : 0}}</span></h5>
	<h5>Amount to Withdraw ($): <input style="display:inline" type="number" name="amount"  size="15" required="" ng-model="withdraw.amount"></h5>
	<h5>Notes: <input style="display:inline" type="text" name="notes" value=""  required="" ng-model="withdraw.notes"></h5>
	
	<div class="column one" style="margin-top:20px;margin-bottom:0px">	
		<button type="submit" value="Submit" ng-click="pageInfo.saveClicked=true;doWithdraw();" class="button button_right button_size_1 button_js" style="background-color:#53a5f8 !important; color:#fff">Submit</button>
	</div>

	<h5 style="padding-top:20px">You have no funds to withdraw.</h5>

</form>

								</div>
							</div>
						</div>
						 <div ng-include="'app/layouts/side_nav.html'"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- header div !-->
		</div>
	</div>
</div>
<!-- end header div !-->