<div class="content_wrapper clearfix">
	<div class="sections_group">
		<div class="entry-content">
			<div class="section mcb-section">
				<div class="section_wrapper mcb-section-inner">
					<div class="wrap mcb-wrap one valign-top clearfix">
						<div class="mcb-wrap-inner">


							<div class="column mcb-column three-fourth column_column column-margin-0px">
								<div class="column_attr clearfix">
									<h2><span class=themecolor>M</span>ake a <span class=themecolor>D</span>eposit</h2>
									<form novalidate="" method="post" name="spendform" ng-class="{saveClicked: pageInfo.saveClicked}">
	
	
	

	 <div class="column one mobile_dep column_column">
	<div class="column one-second mobile_dep column_column" ng-repeat="plan in plans" ng-if="plan.type == 'daily'">
		<div class="column_attr">
			<div class="alert alert_info" style="background-color:#3b5982;padding:5px">

		<h5 style="margin-top:10px"><input ng-model="deposit.plan_id" type="radio" name="h_id" value="{{plan.id}}" > {{plan.return_percentage}}% DAILY FOR {{plan.no_of_days}} DAYS</h5>

		
	<table class="deposit_table">
	<thead>
		<tr>
			<th>Plan</th>
			<th>Amount</th>
			<th>Profit</th>
		</tr>
	</thead>
	<tbody>
			<tr>
			<td style="font-size:130%;font-weight:bold">{{plan.name}}</td>
			<td class="item" align="right">${{plan.minamount}}.00 - ${{plan.maxamount}}.00</td>
			<td style="font-size:130%;font-weight:bold" align="right">${{plan.return_percentage}}% Daily</td>
		</tr>
			</tbody>
	</table>
			</div>
		</div>
	</div>

	

	
	 </div>

	 <div class="column one mobile_dep column_column">
	<div class="column one-second mobile_dep column_column" ng-repeat="plan in plans" ng-if="plan.type !== 'daily'">
		<div class="column_attr">
			<div class="alert alert_info" style="background-color:{{plan.vip == 1 ? '#c4ba1c' : ''}};padding:5px">

		<h5 style="margin-top:10px"><input ng-model="deposit.plan_id" type="radio" name="h_id" value="{{plan.id}}" > {{plan.return_percentage}}% AFTER {{plan.no_of_days}} DAYS</h5>

		
	<table class="deposit_table">
	<thead>
		<tr>
			<th>Plan</th>
			<th>Amount</th>
			<th>Profit</th>
		</tr>
	</thead>
	<tbody>
			<tr>
			<td style="font-size:130%;font-weight:bold">{{plan.name}}</td>
			<td class="item" align="right">${{plan.minamount}}.00 - ${{plan.maxamount}}.00</td>
			<td style="font-size:130%;font-weight:bold" align="right">${{plan.return_percentage}}% </td>
		</tr>
			</tbody>
	</table>
			</div>
		</div>
	</div>

	 </div>

	

		<div class="column one column_column">
			<h5>Your account balance: $0.00 
				<span style="font-size:70%"></span>
			</h5>
			<h5>Amount to Spend ($): <input style="display:inline" type="text" name="amount" value="10.00" size="15" required="" ng-model="deposit.amount"></h5>
			<h5>Reference Id: <input style="display:inline" type="text" name="refernceid" value="" size="15" required="" ng-model="deposit.reference_id"></h5>
			<h5>Notes: <input style="display:inline" type="text" name="notes" value="" size="15" required="" ng-model="deposit.notes"></h5>
		</div>

		<div class="column one" style="margin-top:20px;margin-bottom:0px">	
			<button type="submit" value="Deposit" ng-click="pageInfo.saveClicked=true;doDeposit();" class="button button_right button_size_1 button_js" style="background-color:#53a5f8 !important; color:#fff">Deposit</button>
		</div>


</form>
</div>
</div>
</div>

	<div ng-include="'app/layouts/side_nav.html'"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- header div !-->
</div>
</div>
</div>
<!-- end header div !-->