<script type="text/javascript">var scrollSpeed = 50;var current = 0;var direction = 'h';function bgscroll(){current += 1;$('.bg-cover-ultrawide').css("backgroundPosition", (direction == 'h') ? current+"px 0" : "0 " + current+"px");}setInterval("bgscroll()", scrollSpeed);</script>
<div class="content_wrapper clearfix" ng-init="loadPlugin()">
    <div class="sections_group">
        <div class="entry-content">
            <div class="section mcb-section bg-cover-ultrawide" style="padding-bottom:0px; background-image:url(content/pay/images/home_pay_sectionbg1.png); background-repeat: repeat-x; background-position:center bottom">
                <div class="section_wrapper mcb-section-inner">
                    <div class="wrap mcb-wrap one valign-top clearfix">
                        <div class="mcb-wrap-inner">
                            <div class="column mcb-column one column_column">
                                <div class="column_attr clearfix align_center">
									<div class=hidden-xs style="padding-top:120px">&nbsp;</div>
                                    <h1>Running days <font style="color:#67ffd1">683</font></h1>
										<h4 class="themecolor">Since <font style="color:#fff">Jan 15, 2018</font> Total clients <font style="color:#fff">69386</font>
										<br>
										Total deposited <font style="color:#fff">$348046843.44</font> Total withdrawn <font style="color:#fff">$198779815.4</font></h4>
                                    <a class="button button_right button_size_1 button_js" style="background-color:#53a5f8 !important; color:#fff" href="indexa3c5.html?a=top10"><span class="button_icon" style="color:#fff"><i class="icon-guest" style="color:#fff !important;"></i></span><span class="button_label">Top investors</span></a>
                                    <a class="button button_right button_size_1 button_js" style="background-color:#53a5f8 !important; color:#fff" href="index56a9.html?a=last10"><span class="button_icon"><i class="icon-docs" style="color:#fff !important;"></i></span><span class="button_label">Last investments</span></a>
                                    <a class="button button_right button_size_1 button_js" href="indexda66.html?a=paidout" style="background-color:#53a5f8 !important; color:#fff"><span class="button_icon"><i class="icon-right-circled" style="color:#fff !important;"></i></span><span class="button_label">Last payments</span></a>
										<h4 class="themecolor">Last deposit <font style="color:#fff">$10.00</font> Last withdraw <font style="color:#fff">$3.15</font>
										<br>
										Visitors online <font style="color:#fff">2241</font>
										</h4>

										
                                    <hr class="no_line" style="margin:0 auto 5px">
                                </div>
                            </div>
                            <div class="column mcb-column one column_slider ">
                                <div class="content_slider flat">
                                    <ul class="content_slider_ul">
                                        <li class="content_slider_li_1"><img width="896" height="180" src="content/pay/images/plan1.png" class="scale-with-grid wp-post-image" alt="">
                                        </li>
                                        <li class="content_slider_li_2"><img width="1194" height="180" src="content/pay/images/plan2.png" class="scale-with-grid wp-post-image" alt="">
                                        </li>
                                    </ul>
                                </div>
                            </div>	

                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>