<div class="section mcb-section hidden-xs" style="padding-top:10px; padding-bottom:0px !important; background-color:#0b0f2f; background-repeat:no-repeat; background-position:left;margin-bottom:0px !important">
    <div class="section_wrapper mcb-section-inner">
        <div class="wrap mcb-wrap one valign-top clearfix">
            <div class="mcb-wrap-inner">
                <div class="column mcb-column one column_column security_logos" style="margin-bottom:0px !important;padding-bottom:0px !important">
                    <div class="column_attr clearfix align_center security_logos">
                        <ul style="list-style: none;" style="margin-bottom:0px;padding-bottom:0px">
                            <li><div class="mfes-trustmark" data-type="102" data-width="90" data-height="37"></div></li>
                            <li><script type="text/javascript" src="../sealserver.trustwave.com/seal5998.js?style=invert"></script></li>
                            <li><div class="trustedsite-trustmark" data-type="202" data-width="120"  data-height="50"></div></li>
                            <li><script type="text/javascript" src="https://seal.thawte.com/getthawteseal?host_name=bsfinance.biz&amp;size=L&amp;lang=en" style="padding-right:10px"></script></li>
                            <li><a ui-sref="#" onclick="window.open('https://www.sitelock.com/verify.php?site=bsfinance.biz','SiteLock','width=600,height=600,left=160,top=170');" ><img class="img-responsive" alt="SiteLock" title="SiteLock" src="http://shield.sitelock.com/shield/bsfinance.biz" /></a></li>
                            <li><script type="text/javascript" src="https://seal.websecurity.norton.com/getseal?host_name=bsfinance.biz&amp;size=L&amp;use_flash=NO&amp;use_transparent=No&amp;lang=en"></script></li>
                        </ul>
                        <ul style="list-style: none;" style="margin-bottom:0px;padding-bottom:0px">
                            <li><div id="DigiCertClickID_nHb3voSF" data-language="en"></div>
<script type="text/javascript">
var __dcid = __dcid || [];__dcid.push(["DigiCertClickID_nHb3voSF", "3", "m", "black", "nHb3voSF"]);(function(){var cid=document.createElement("script");cid.async=true;cid.src="../seal.digicert.com/seals/cascade/seal.min.js";var s = document.getElementsByTagName("script");var ls = s[(s.length - 1)];ls.parentNode.insertBefore(cid, ls.nextSibling);}());
</script>
                            </li>
                            <li><a name="trustlink" ui-sref="https://secure.trust-guard.com/business/14464" rel="nofollow" target="_blank" onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.ui-sref,'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;" oncontextmenu="var d = new Date(); alert('Copying Prohibited by Law - This image and all included logos are copyrighted by trust-guard \251 '+d.getFullYear()+'.'); return false;"><img name="trustseal" alt="Business Seals" style="border: 0;" src="../secure.trust-guard.com/seals/business/14464-small.gif" /></a></li>
                            <li><a name="trustlink" ui-sref="https://secure.trust-guard.com/privacy/14464" rel="nofollow" target="_blank" onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.ui-sref,'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;" oncontextmenu="var d = new Date(); alert('Copying Prohibited by Law - This image and all included logos are copyrighted by trust-guard \251 '+d.getFullYear()+'.'); return false;"><img name="trustseal" alt="Privacy Seals" style="border: 0;" src="../secure.trust-guard.com/seals/privacy/14464-small.gif" /></a></li>
                            <li><a name="trustlink" ui-sref="https://secure.trust-guard.com/security/14464" rel="nofollow" target="_blank" onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.ui-sref,'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;" oncontextmenu="var d = new Date(); alert('Copying Prohibited by Law - This image and all included logos are copyrighted by trust-guard \251 '+d.getFullYear()+'.'); return false;"><img name="trustseal" alt="Security Seals" style="border: 0;" src="../secure.trust-guard.com/seals/security/14464-small.gif" /></a></li>
                            <li><a name="trustlink" ui-sref="https://secure.trust-guard.com/certified/14464" rel="nofollow" target="_blank" onclick="var nonwin=navigator.appName!='Microsoft Internet Explorer'?'yes':'no'; window.open(this.ui-sref,'welcome','location='+nonwin+',scrollbars=yes,width=517,height='+screen.availHeight+',menubar=no,toolbar=no'); return false;" oncontextmenu="var d = new Date(); alert('Copying Prohibited by Law - This image and all included logos are copyrighted by trust-guard \251 '+d.getFullYear()+'.'); return false;"><img name="trustseal" alt="Certified Seal" style="border: 0;" src="../secure.trust-guard.com/seals/certified/14464-small.gif" /></a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="Footer" class="clearfix">
    <div class="footer_copy">
        <div class="container">
            <div class="column one">
                <a id="back_to_top" class="button button_js" ui-sref="#"><i class="icon-up-open-big"></i></a>
                <div class="copyright">
                    &copy; 2018-2020 <span class=themecolor>BSFinance Limited</span>.
                </div>
                <nav id="social-menu" class="menu-main-menu-footer-container">
                    <ul id="menu-main-menu-footer" class="social-menu">
                        <li class="current-menu-item"><a ui-sref="home">Home</a></li>
                        <li><a ui-sref="start"><span>Get started</span></a></li>
                        <li><a ui-sref="signup"><span>Sign Up</span></a></li>
                        <li><a ui-sref="signin"><span>Sign In</span></a></li>

                        <li><a ui-sref="faq">FAQ</a></li>
                        <li><a ui-sref="rules">T&amp;C</a></li>
                        <li><a ui-sref="privacy">Privacy Policy</a></li>
                        <li><a ui-sref="ratings">Ratings</a></li>
                        <li><a ui-sref="contactus">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>